
<a href="#main-content" id="skip-navigation">Skip Navigation</a>

<header>

	<a href="/"><img id="header-logo" src="/images/logo.svg"></img></a>

	<span id="navigation">

		<%- include(`${partialsDir}/navigation`) %>
	</span>

	<div id="account-dropdown">

		<a href="/"><p>Login with Discord</p></a>
	</div>
</header>