<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>Alan.</title>
	</head>

	<body>
		
		<%- include(`${partialsDir}/header-authorised`) %>
		
		<div id="main-content">

            <img class="icon" src="<%= `${(locals.guild.iconURL() ? locals.guild.iconURL() : '/images/favicon.svg')}` %>">
        </div>

        <%- include('./styles/main') %>

		<script defer src="/scripts/guilds/main.js"></script>
	</body>
</html>