<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>Alan.</title>
	</head>

	<body>
		
		<%- include(`${partialsDir}/header`) %>

		<div id="main-content">
			
			<p>Click <a href="https://github.com/f2reninj5/alan">here</a> to view Alan's source code!</p>
			
			<br>
			
			<div style="padding: 1em; background-color: var(--primary-alt);">

				<button class="colour" style="background-color: #36393f; border-color: #36393f;">Copied</button>
				<button class="colour" style="background-color: #f5ebda; border-color: #f5ebda;">Copied</button>
				<button class="colour" style="background-color: #f0902f; border-color: #f0902f;">Copied</button>
				<button class="colour" style="background-color: #318bd0; border-color: #318bd0;">Copied</button>
			</div>

			<br>

			<div style="width: 80%;">

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit viverra enim non dapibus. Morbi elementum ante viverra dolor ullamcorper, at rhoncus lorem egestas. Nam interdum volutpat nisl, quis pellentesque magna scelerisque vel. Suspendisse condimentum augue ac lorem congue volutpat. Donec lorem massa, congue sit amet consequat eu, maximus non felis. Nunc iaculis nunc quis orci euismod, id commodo mauris porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut consequat facilisis fermentum. Integer nec posuere erat. Fusce cursus lacus sed lectus tincidunt lobortis. Quisque congue non mauris ut cursus. Donec posuere ante vitae enim venenatis tempor.</p>
				<br>
				<p>Aenean interdum urna id urna venenatis ornare id porttitor purus. Nunc consectetur finibus neque, sed tincidunt risus ultrices vitae. Duis nulla dui, vehicula eget fringilla in, semper eget mi. Maecenas sit amet vestibulum lacus, eu iaculis arcu. Praesent non magna eu leo luctus posuere interdum a lorem. Phasellus eget venenatis quam. Fusce dignissim, eros at sollicitudin bibendum, nulla tortor euismod nibh, ut vestibulum leo tellus non dolor. Donec nibh ligula, placerat sit amet lectus et, suscipit efficitur massa. Nunc maximus sollicitudin libero ac suscipit. Curabitur vitae nunc eu tortor mollis aliquam. Sed ornare, mauris nec ultricies commodo, enim dolor tincidunt ante, nec mattis nulla elit eget lacus. Curabitur et urna a mi accumsan accumsan. Vivamus vitae libero purus. Etiam ut ligula dictum est vehicula imperdiet sed sit amet purus. Sed vel lectus pulvinar nulla elementum pretium et vitae ex. Donec aliquam libero ornare sem rhoncus, rutrum feugiat nulla rutrum.</p>
				<br>
				<p>Suspendisse quis magna purus. Cras rhoncus libero non velit pulvinar rutrum. Pellentesque gravida feugiat quam ac auctor. Nulla facilisi. Donec ac bibendum eros, iaculis dapibus turpis. In ornare laoreet dui id dictum. Maecenas iaculis libero eget tortor iaculis, at bibendum felis varius. Duis in malesuada ligula, ut gravida justo. Proin odio arcu, consectetur at nunc eget, pellentesque fermentum arcu. Nulla a ultricies odio. Duis non vulputate dui. Nullam vitae ex varius, vulputate erat ac, commodo metus.</p>
				<br>
				<p>Aliquam erat volutpat. Vestibulum finibus dui sit amet ultricies fringilla. Phasellus pulvinar accumsan est, at tempus dui volutpat sed. Proin nec lacus non nunc volutpat fringilla in et urna. Maecenas rutrum vehicula leo nec rutrum. Maecenas nisl orci, pharetra ac est at, hendrerit convallis metus. Suspendisse ullamcorper venenatis turpis, a molestie dui porttitor ut. Nunc nulla lacus, mollis ac consectetur non, molestie in dolor. Vestibulum sollicitudin metus sit amet sapien luctus aliquet. Suspendisse sit amet luctus metus, id accumsan est. Praesent mauris turpis, porta non ex eget, vehicula vulputate leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<br>
				<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam nulla orci, accumsan ut euismod vel, feugiat vel lectus. Morbi eros quam, sagittis vitae mauris ac, porttitor vestibulum turpis. Proin malesuada mollis mattis. Maecenas consectetur, est vitae venenatis eleifend, ex leo consequat nulla, id condimentum massa enim quis tellus. Vivamus ipsum arcu, porttitor in scelerisque eu, porttitor ultrices massa. Praesent diam dui, sagittis sed lacus non, eleifend pulvinar est. Etiam ac est eget tortor mattis egestas ut vel ipsum. Nunc dolor urna, tristique at sagittis ac, vestibulum vel mi. Fusce eget sagittis justo, sit amet vehicula dolor. Vivamus porttitor quam nec nisi convallis, ac accumsan arcu tincidunt. Vivamus vitae libero id arcu faucibus cursus eu vel mauris. Aliquam purus ex, volutpat et venenatis ac, tempor vitae turpis.</p>
			</div>

		<script defer src="/scripts/home/main.js"></script>
	</body>
</html>