<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>
		<link href="/styles/guild/add.css" rel="stylesheet" type="text/css">

		<title>Alan.</title>
	</head>

	<body>
		
		<div id="main-content">

			<form id="config-form" method="post" action="/guild/add">

				<div id="form-header">

					<img id="server-icon" src="<%- `${(locals.guild.iconURL() ? locals.guild.iconURL() : '/images/favicon.svg')}` %>">
					<h id="server-name"><%- locals.guild.name %></h>
				</div>

				<label for="guild-id-input">Guild ID</label>
				<input id="guild-id-input" value="<%- locals.guild.id %>" readonly required>

				<label for="select-region">Region</label>
				<select id="select-region" required>

					<option value="europe/dublin">America/Detroit</option>
					<option value="europe/london">Europe/London</option>
				</select>

				<div>

					<input id="checkbox-enable-log" type="checkbox">
					<label for="checkbox-enable-log">Enable log channel <button title="The log channel can still be always be accessed via the website.">i</button></label>
				</div>

				<div>

					<input id="checkbox-auto-channels" type="checkbox">
					<label for="checkbox-auto-channels">Create dedicated channels for me <button title="The bot will generate its necessary channels.">i</button></label>
				</div>

				<div id="config-manual-channels">

					<div id="channel-select-div">

						<label for="select-alert-channel">Alert Channel</label>
						<select id="select-alert-channel" required>

							<option value="012345678901234567">012345678901234567 (alerts)</option>
						</select>

						<label for="select-log-channel">Log Channel</label>
						<select id="select-log-channel" required>

							<option value="012345678901234567">012345678901234567 (logs)</option>
						</select>
					</div>
					<div>

						<button id="refresh-channels">?</button>
					</div>

					<button id="complete-button">Complete</button>
				</div>
			</form>
        </div>

		<script defer src="/scripts/guild/add.js"></script>
	</body>
</html>
