<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>
		<link href="/styles/guild/main.css" rel="stylesheet" type="text/css">

		<title>Alan.</title>
	</head>

	<body>
		
		<%- include(`${partialsDir}/header-authorised`) %>
		
		<div id="main-content">

			<div class="information-box">

				<img class="icon" src="<%- `${(locals.guild.iconURL() ? locals.guild.iconURL() : '/images/favicon.svg')}` %>">
			
				<h class="name"><%- locals.guild.name %></h>
			</div>
        </div>

		<script defer src="/scripts/guild/main.js"></script>
	</body>
</html>
