<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>alan</title>
		<icon src="images/logo.svg"></icon>
	</head>

	<body>
		
		<%- include(`${partialsDir}/header`) %>

		<div id="main-content" class="container">

			<a href="https://github.com/f2reninj5/alan">https://github.com/f2reninj5/alan</a><br><br>

		</div>

		<script defer src="/scripts/home.js"></script>
	</body>
</html>