$enlarge-scale: 105%;

#config-form {

    display: flex;
    flex-direction: column;
    gap: 1em;

    min-width: 30%;

    input,
    select {

        height: 2em;

        padding: 0 0.5em 0 0.5em;

        text-align: center;

        color: var(--secondary);
        background-color: var(--primary-alt);

        border: none;
        border-radius: 2em;

        &:hover,
        &:focus {

            transform: scale($enlarge-scale);
        }

        &[readonly],
        &:disabled {

            color: var(--primary);
        }
    }

    button {

        padding: {

            left: 0.5em;
            right: 0.5em;
        }

        color: var(--primary);
        background-color: var(--secondary);

        border: none;
        border-radius: 2em;
    }

    &-complete-button {

        display: block;

        height: 2em;
        padding: 0 0.5em 0 0.5em;

        color: var(--primary);
        background-color: var(--secondary);

        border: none;
        border-radius: 2em;

        &:hover,
        &:focus {

            transform: scale($enlarge-scale);
        }
    }

    &-header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >* {

            font-size: 4em;
            height: 1em;
        }
    }

    &-manual-channels-div {

        display: none;
        flex-direction: row;
        gap: 1em;

        >div {

            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }

    &-channel-select-div {

        flex-grow: 1;
    }
}
