.guild-list {

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.guild-item {

    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
}

.guild-item p {

    margin: auto 0 auto 0;
    display: inline-block;
    font-size: 1.5em;
}

.guild-item img {

    height: 4em;
    border-radius: 1em;
}
